<ion-header>
  <ion-toolbar>
    <ion-title>Créer une annonce</ion-title>
    <ion-buttons *ngIf="!showAnswerApi" slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="showAnswerApi">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!----------------------------------------------------------------- Formulaire pour ajouter un nouvel utilisateur ---------------------------------------------------------------------->

<ion-content class="ion-padding">
  <div *ngIf="!showAnswerApi">
    <h1>Quelques informations</h1>
    <p>(*)Obligatoire</p>

    <form #FormAnnonces action="post">

      <ion-item fill="solid">
        <ion-label position="stacked">Nom(*)</ion-label>
        <ion-input [clearOnEdit]="true" [(ngModel)]="name" name="name" placeholder="Nom ou nom descriptif" [ngModelOptions]="{standalone: true}" required="true"></ion-input>
        <ion-note *ngIf="messageErrors?.formErrors.name" [innerHTML]="messageErrors?.formErrors.name"></ion-note>
      </ion-item>

      <ion-item fill="solid">
        <ion-label position="stacked">Âge</ion-label>
        <ion-input [clearOnEdit]="true" [(ngModel)]="age" type="number" name="age" placeholder="Âge approximatif" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item fill="solid">
        <ion-label position="stacked">Description(*)</ion-label>
        <ion-textarea [clearOnEdit]="true" [(ngModel)]="description" [autoGrow]="true" name="description" placeholder="Petite description de l'animal" [ngModelOptions]="{standalone: true}" required="true"></ion-textarea>
        <ion-note *ngIf="messageErrors?.formErrors.description" [innerHTML]="messageErrors?.formErrors.description"></ion-note>
      </ion-item>

      <ion-item fill="solid">
        <ion-label position="stacked">Pelage(*)</ion-label>
        <ion-input [clearOnEdit]="true" [(ngModel)]="fur" name="fur" placeholder="Description de son pelage" [ngModelOptions]="{standalone: true}" required="true"></ion-input>
        <ion-note *ngIf="messageErrors?.formErrors.fur" [innerHTML]="messageErrors?.formErrors.fur"></ion-note>
      </ion-item>

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Localité(*)</ion-label>
          <ion-input name="postcode" [(ngModel)]="location" type="text" placeholder="1400 Yverdon-les-Bains" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </ion-list>

      <ion-label position="stacked">Ajouter des images de l'animal</ion-label>
        <input type="file">

      <ion-item>
        <ion-label position="stacked">Quand a-t-il été trouvé/perdu ?(*)</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" required="true"></ion-datetime>
        <ion-note *ngIf="messageErrors?.formErrors.date" [innerHTML]="messageErrors?.formErrors.date"></ion-note>
      </ion-item>

      <div>
        <ion-label position="stacked">L'annonce concerne un animal(*) ...</ion-label>
        <ion-list>
          <ion-radio-group name="type" [(ngModel)]="type" value="lost" required="true">
            <ion-item>
              <ion-label>Perdu</ion-label>
              <ion-radio slot="end" value="lost"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Trouvé</ion-label>
              <ion-radio slot="end" value="find"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-note *ngIf="messageErrors?.formErrors.type" [innerHTML]="messageErrors?.formErrors.type"></ion-note>
      </div>

      <ion-button type="submit" expand="block" [disabled]="FormAnnonces['invalid']" (click)="submitAnnonce()">Ajouter l'annonce</ion-button>
  
      <!-- <div>
        <app-custom-button expand="block" [paragraph]="'Créer une annonce'" [showIcon]="false" (click)="submitAnnonce()"></app-custom-button>
      </div> -->
    </form>
  </div>

<!----------------------------------------------------------------- Message pour confirmer l'ajout de l'animal ---------------------------------------------------------------------->

  <div *ngIf="showAnswerApi">
    <h1>C'est enregistré</h1>
    <p>Ton annonce a bien été enregistrée, merci. Tu devrais recevoir des nouvelles dans les prochains jours, alors
      reste connecté !</p>
    <app-custom-button expand="block" [paragraph]="'Accueil'" [showIcon]="false" (click)="cancel()"></app-custom-button>
  </div>
</ion-content>