<ion-header>
  <ion-toolbar>
    <ion-title>Re-bonjour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">

    <ion-list>
      <ion-item fill="solid">
        <ion-label position="stacked">Adresse mail</ion-label>
        <ion-input [clearOnEdit]="true" #email="ngModel" required="true" type="email" [(ngModel)]="authRequest.email" name="email" placeholder="exemple@heig-vd.ch"></ion-input>
        <ion-note *ngIf="email.invalid && email.touched" slot="error">Adresse mail requise.</ion-note>
      </ion-item>

      <ion-item fill="solid">
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input #password="ngModel" required="true" [type]="passwordType" [(ngModel)]="authRequest.password" name="password" placeholder="Hdslap!$$00ddia_"></ion-input>
        <ion-icon [name]="passwordIcon" (click)="hideShowPassword()"></ion-icon>
        <ion-note  *ngIf="password.invalid && password.touched" slot="error">Mot de passe requis.</ion-note>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">Se connecter</ion-button>
      <ion-text color="danger" *ngIf="loginError">Oops! Email ou mot de passe invalide.</ion-text>
    </div>

  </form>

  <div class="inscription">
    <p>Pas encore inscrit ?</p>
    <a routerLink="/inscription">Rejoins-nous !</a>
  </div>
</ion-content>


<!-- La couleur sur le texte Adresse mail et Mot de Passe, vient du required=true. À modifier dans les feuilles de styles de l'app ou dans ceux des composants en question -->