<ion-header >
  <ion-toolbar>
    <ion-title>Mes annonces</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mes annonces</ion-title>
    </ion-toolbar>
  </ion-header>


  <div *ngIf="!showForm" class="ion-padding">
    <app-custom-button expand="block" [paragraph]="'Créer une annonce'" [showIcon]="true" (click)="openFormAnnonceModal()"></app-custom-button>
    <!-- <app-custom-button [paragraph]="'Créer une annonce'" (handleClick)="handleClick($event)"
      [showIcon]="true"></app-custom-button> -->
  </div>
  <div>
    <div class="ion-padding">
      <h1>Animaux perdus</h1>
      <div id="div-find"></div>
      <!-- <app-annonces-component [showLost]="true" [showFind]="false" [showAll]="false" [update]="true"
        class="animal-container"></app-annonces-component> -->
    </div>
    <div class="ion-padding">
      <h1>Animaux trouvés</h1>
      <div id="div-lost"></div>
      <!-- <app-annonces-component [showLost]="false" [showFind]="true" [showAll]="false" [update]="true"
        class="animal-container"></app-annonces-component> -->
    </div>
  </div>
  <div *ngIf="showForm" class="ion-padding">
    <app-add-animals></app-add-animals>
  </div>

</ion-content>