<form>
  <p class="right-italic">(*) Obligatoire</p>

  <ion-item fill="solid">
    <ion-label position="stacked">Prénom(*)</ion-label>
    <ion-input [clearOnEdit]="true" [(ngModel)]="firstname" name="firstname" placeholder="Prénom"></ion-input>
    <ion-note *ngIf="messageErrors?.formErrors.firstname" [innerHTML]="messageErrors?.formErrors.firstname"></ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="stacked">Nom(*)</ion-label>
    <ion-input [clearOnEdit]="true" [(ngModel)]="lastname" name="lastname" placeholder="Nom"></ion-input>
    <ion-note *ngIf="messageErrors?.formErrors.lastname" [innerHTML]="messageErrors?.formErrors.lastname"></ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="stacked">Numéro de téléphone</ion-label>
    <ion-input [clearOnEdit]="true" type="tel" [(ngModel)]="phone" name="phone" placeholder="078 765 43 21"></ion-input>
    <ion-note *ngIf="messageErrors?.formErrors.phone" [innerHTML]="messageErrors?.formErrors.phone"></ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="stacked">Adresse mail(*)</ion-label>
    <ion-input [clearOnEdit]="true" type="email" [(ngModel)]="email" name="email" placeholder="exemple@email.com"></ion-input>
    <ion-note *ngIf="messageErrors?.formErrors.email" [innerHTML]="messageErrors?.formErrors.email"></ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="stacked">Mot de passe(*)</ion-label>
    <ion-input [type]="passwordType" [(ngModel)]="password" name="password" value="password"></ion-input>
    <ion-icon [name]="passwordIcon" (click)="hideShowPassword()"></ion-icon>
    <ion-note *ngIf="messageErrors?.formErrors.password" [innerHTML]="messageErrors?.formErrors.password"></ion-note>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Localité(*)</ion-label>
      <ion-input [(ngModel)]="postcode" (ngModelChange)="onNpaChange()" name="postcode" type="text" placeholder="1400 Yverdon-les-Bains"></ion-input>  
        <ion-select *ngIf="cities?.length" interface="popover" name="location">
        <ion-select-option *ngFor="let city of cities" (ionSelect)="onSelect(city)" [value]="city" >{{ city }}</ion-select-option>
      </ion-select>
      <ion-note *ngIf="messageErrors?.formErrors.location" [innerHTML]="messageErrors?.formErrors.location"></ion-note>
    </ion-item>
  </ion-list>
  <ion-button fill="solid" (click)="createUser(user)">Créer un compte</ion-button>
</form>