<form>
  <p class="right-italic">(*) Obligatoire</p>

  <ion-item fill="solid">
    <ion-label position="stacked">Prénom(*)</ion-label>
    <ion-input [clearOnEdit]="true" [(ngModel)]="firstname" name="firstname" placeholder="Prénom"></ion-input>
    <ion-note *ngIf="messageErrors?.formErrors.firstname" [innerHTML]="messageErrors?.formErrors.firstname"></ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="stacked">Nom(*)</ion-label>
    <ion-input [clearOnEdit]="true" [(ngModel)]="lastname" name="lastname" placeholder="Nom"></ion-input>
    <ion-note *ngIf="messageErrors?.formErrors.lastname" [innerHTML]="messageErrors?.formErrors.lastname"></ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="stacked">Numéro de téléphone</ion-label>
    <ion-input [clearOnEdit]="true" type="tel" [(ngModel)]="phone" name="phone"
      placeholder="004178 765 43 21"></ion-input>
    <ion-note *ngIf="messageErrors?.formErrors.phone" [innerHTML]="messageErrors?.formErrors.phone"></ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="stacked">Adresse mail(*)</ion-label>
    <ion-input [clearOnEdit]="true" type="email" [(ngModel)]="email" name="email"
      placeholder="exemple@email.com"></ion-input>
    <ion-note *ngIf="messageErrors?.formErrors.email" [innerHTML]="messageErrors?.formErrors.email"></ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="stacked">Mot de passe(*)</ion-label>
    <ion-input [type]="passwordType" [(ngModel)]="password" name="password" value="password"></ion-input>
    <ion-icon [name]="passwordIcon" (click)="hideShowPassword()"></ion-icon>
    <ion-note *ngIf="messageErrors?.formErrors.password" [innerHTML]="messageErrors?.formErrors.password"></ion-note>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Localité(*)</ion-label>
    <input [(ngModel)]="cityUser" list="codes" type="text" placeholder="Yverdon-les-Bains"
      (ngModelChange)="searchCity($event)" [value]="newCity" [ngModelOptions]="{standalone: true}" />
    <datalist id="codes">
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </datalist>
    <ion-note *ngIf="messageErrors?.formErrors.location" [innerHTML]="messageErrors?.formErrors.location"></ion-note>
  </ion-item>

  <ion-button fill="solid" (click)="createUser(user)">Créer un compte</ion-button>
</form>