<ion-content class="ion-padding">
  <ion-modal [trigger]="id" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <div>
        <div>
          <div>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-img
              src="https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80"
              alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
          </div>
        </div>
        <ion-content class="ion-padding">
          <div>
            <h1>{{ name }}</h1>
            <p>{{ description }}</p>
            <h3>Propriétaire</h3>
            <p>{{ userName }} {{ userLastName }}</p>
            <p>{{ userEmail }}</p>
            <p>+ {{ userPhone }}</p>
          </div>
        </ion-content>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>