<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Modification des informations</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="confirm()">Confirm</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">{{ buttonValue }}</ion-label>
    <ion-input [(ngModel)]="typeButton" [type]="inputType" placeholder="{{ typeButton }}"></ion-input>
    <!-- <p>{{ message }}</p> -->
  </ion-item>
  <app-custom-button expand="block" [paragraph]="'Enregistrer'" [showIcon]="false" (click)="confirm()"></app-custom-button>
</ion-content>