<ion-content>
  <div *ngIf="(yourAnnouncement && !showAnswerApi)">
    <!-- <img alt="Photo de l'animal" [src]="picturesAnimal"/> -->
    <img src="../../assets/images/animals/Dog.jpg"/>
    <h1>Changer les informations</h1>

    <ion-item fill="solid">
      <ion-label position="stacked">Nom</ion-label>
      <ion-input [(ngModel)]="nameAnimal" name="nameAnimal" placeholder="Nom ou nom descriptif" (ngModelChange)="updateInput()" ></ion-input>
    </ion-item>

    <ion-item fill="solid">
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea [autoGrow]="true" [(ngModel)]="descriptionAnimal" name="descriptionAnimal"
        placeholder="Petite description de l'animal" (ngModelChange)="updateInput()" ></ion-textarea>
    </ion-item>

    <ion-item fill="solid">
      <ion-label position="stacked">Pelage</ion-label>
      <ion-input [(ngModel)]="furAnimal" name="furAnimal" placeholder="Description de son pelage" (ngModelChange)="updateInput()" ></ion-input>
    </ion-item>

    <ion-button [disabled]="isInactive" expand="block" color="primary"(click)="confirm()">Enregistrer les changements</ion-button>
    <app-custom-button expand="block" [paragraph]="'Supprimer cette annonce'" [showIcon]="false" (click)="deleteAnnouncement()"></app-custom-button>
  </div>

  <!----------------------------------------------------------------- Message pour confirmer la modification de l'animal ---------------------------------------------------------------------->

  <div *ngIf="showAnswerApi">
    <h1 *ngIf="!isDelete">C'est enregistré</h1>
    <p *ngIf="!isDelete">Tes changements ont bien été enregistrée, merci beaucoup !<br>Raffraîchis la page.</p>
    <h1 *ngIf="isDelete">C'est supprimé</h1>
    <p *ngIf="isDelete">Ton annonce a bien été supprimée. Nous espérons que Qroket a pu t'aider !<br>Raffraîchis la page.</p>
    <app-custom-button expand="block" [paragraph]="'Fermer'" [showIcon]="false" (click)="cancel()"></app-custom-button>
  </div>


  <div *ngIf="!yourAnnouncement">
    <ion-buttons style="position: absolute; margin: 5%;">
      <ion-button (click)="cancel()">
        <ion-icon  size="large" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <img alt="Photo de l'animal" [src]="picturesAnimal"/> -->
    <img src="../../assets/images/animals/Dog.jpg"/>
    <div class="InfoAnimal" class="ion-padding">
    <h1 style="font-weight: bolder;">{{ nameAnimal }}</h1>
    <p>{{ descriptionAnimal }}</p>
    <h3>Pelage</h3>
    <ion-chip>{{ furAnimal }}</ion-chip>
    </div>
    
    <div class="InfoProprietaire" class="ion-padding">
      <h2>Personne de contact</h2>
      <!-- <img alt="Photo de l'animal" [src]="picturesAnimal"/> -->
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar>
              <img  src="../../assets/images/profile/Baltazar.png"/>
            </ion-avatar>
          </ion-col>
          <ion-col size="6">
            <p style="margin-top: 0; margin-bottom: 5px; font-weight: bolder;">{{ firstnameUser }} {{ lastnameUser }}</p>
            <p style="margin-top: 0; margin-bottom: 5px;">{{ emailUser }}</p>
            <p style="margin-top: 0;">{{ phoneUser }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>