<ion-content class="ion-padding">

  <ion-grid>
    <ion-row class="align-self-center" style="display: flex; justify-content: center; height: 180px;">
      <ion-col size="6" class="align-self-center" style="display: flex; justify-content: center;">
        <app-image [src]="pictureUser" style="width: 180px; height: 180px;"></app-image>
      </ion-col>
    </ion-row>
      <ion-row class="ion-justify-content-center " style="height: 40px;">
        <ion-col size="auto">
          <div class="title" >
            <h1 class="ion-text-center">{{ firstname }} {{ lastname }}</h1>
          </div> 
        
      </ion-col>
      </ion-row>
    <ion-row class="ion-justify-content-center" style="display: flex; align-items: center; height: 40px;" >
      <ion-col size="auto"></ion-col>
      <ion-col size="1">
        <img  src="../../../assets/icon/location.png" />
        </ion-col>
        <ion-col size="auto">
         <p >{{ location }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="bold">Informations de base</p>
  <app-custom-button expand="block" [paragraph]="'Adresse mail'" [showIcon]="true" (click)="openModal($event)"></app-custom-button>
  <app-custom-button expand="block" [paragraph]="'Téléphone'" [showIcon]="true" (click)="openModal($event)"></app-custom-button>
  <app-custom-button expand="block" [paragraph]="'Mot de passe'" [showIcon]="true" (click)="openModal($event)"></app-custom-button>
  <app-custom-button expand="block" [paragraph]="'Localisation'" [showIcon]="true" (click)="openModal($event)"></app-custom-button>
  <app-custom-button expand="block" [paragraph]="'Supprimer le compte'" [showIcon]="true" (click)="openModal($event)"></app-custom-button>

  <ion-grid>
    <ion-row class="ion-justify-content-center " style="display: flex; align-items: center; height: 50px;">
      <ion-col size="auto">
        <a class="ion-text-center" (click)="logOut()"> Déconnexion </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>